body{
	margin: 0;
	padding: 0;
	position: relative
}
header{
	width: 100%;
	height: 100vh;
	background-image: url(../img/header.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	box-sizing: border-box;
	z-index: 9;
	padding-top: 20px;
	background-attachment: fixed;
}
.scroll{
	margin-top: 10%;
}
.white{
	color: #fff;
}
.iconMouse{
	color: #fff;
	font-size: 20px;
}
#menu{
	display: none;
}
.quince{
	font-size: 16px;
}
#logoH{
	width: 75%;
  margin-top: -5px;
}
.contLogo{
	padding-top: 10%;
}
.bloqueUno{
	width: 100%;
	padding: 6% 0;
	color: #7a7a7a;
}
.contTituloColor{
	margin: 0 0 5% 0;
  border-bottom: 1px solid #69b3b9;
}
.contTituloWhite{
	margin: 0 0 5% 0;
  border-bottom: 1px solid #fff;
}
.contTituloGray{
	margin: 0 0 5% 0;
  border-bottom: 1px solid gray;
}
.enlaceCv{
	color: #fff;
	text-decoration: none;
}
.enlaceCv:hover, .enlaceCv:link, .enlaceCv:active, .enlaceCv:visited{
	color: #fff;
	text-decoration: none;
}
.skills{
	padding: 10% 0;
	background-color: #69b3b9;
}
#botones{
	color: #fff;
  background-color: #69b3b9;
  padding: 10px 40px;
  text-align: left;
  border: 1px solid transparent;
  margin-right: 10px;
  border-radius: 5px; 
}
#botones:hover{
	background-color: #4CA3A5;
	text-decoration: none;
}
.bloqueDos{
	width: 100%;
 	padding: 6% 0;
}
.enlace-proyecto:hover{
	width: 100%;
	background-color: blue;
}

#img-logo{
	display: inline-block;
}
.fixed{
	width: 100%;
	position: fixed;
	z-index: 9;
}
.sub, .sub2, .sub3{
	font-family:'PrestigeEliteStd-Bd', Sans-Serif;
	font-size: 35px;
  margin-top: -21px;
}
.sub{
	color: #69b3b9;
}
.sub2{
	color: #fff;
}
.sub3{
	color: gray;
}
#c-p{
	position: relative;
	border-radius: 5px;
	margin-bottom: 20px;
}
.imgProyecto, .img-proyecto{
	border-radius: 5px;
}
.img-proyecto{
	margin-bottom: 20px;
}
.bloqueTres{
	width: 100%;
 	padding: 6% 0;
}
/*-----------------------------------------------*/
.contacto{
 padding: 7% 0;
 background-color: #69b3b9;
}
.iconRedes{
	color: gray;
	font-size: 45px;
	margin: 0 5px;
}
#botones2{
	color: #69b3b9 ;
  background-color: #fff;
  padding: 10px 40px;
  text-align: left;
  border: 1px solid transparent;
  margin-right: 10px;
  border-radius: 5px; 
}
#botones2:hover{
	background-color: #fff;
	text-decoration: none;
}
.email{
	color: #fff;
	font-family: Arial;
	margin-left: 8px; 
}
.efectoHover{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: yellow;
	margin: 0 10px;
	top: 0;
	left:0;
}
/*-----------------------------------------------*/
footer{
	width: 100%;
	padding: 3% 0;
	background-color: #d3d3d3;
	color: gray;
}
.copyright{
	margin:0;
	padding: 0;
}
.footer2{
	text-align: center;
	width: 100%;
	padding: 18px 0 10px 0;
	background-color: #808080;
	color: #eee;
}
/*-----------------------------------------------*/
#contModal{
	width: 80%;
}
#contProject{
	width: 100%;
}
.tituloProyecto{
	font-family: 'PrestigeEliteStd-Bd', Sans-Serif;
  font-size: 25px;
  color: #69b3b9;
  margin: 0 0 0 3%;
}
.tituloDescripcion{
	font-family:'PrestigeEliteStd-Bd', Sans-Serif;
	font-size: 18px;
	color: gray;
}
.explicacion{
	margin-bottom: 20px;
	font-size: 15px;
	color: #a0a0a0;
}
.herramientas{
	margin-bottom: 30px;
}
.iconHerramienta{
	color: gray;
	font-size: 35px;
}
.bootstrap{
	font-weight: bold;
  font-family: inherit;
}
.html:hover{
	color: #E44D26;
}
.css:hover{
	color: #0270BB;
}
.bootstrap:hover{
	color: #6F43A2;
}
.js:hover{
	color: #D6BA33;
}
.jq:hover{
	color: #0868AC;
}
/*-----------------------------------------------*/
.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#fff;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}
.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}
.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

@media (min-width: 200px) and (max-width: 500px){
	.contLogo {
    padding-top: 27%;
	}
	.scroll {
    margin-top: 40%;
	}
	.bloqueUno,, .bloqueDos, .footer{
		padding: 15% 0;
	}
	.contTituloColor, .contTituloWhite, .contTituloGray{
		margin: 0 0 15% 0;
	}
}
@media (min-width: 200px) and (max-width: 770px) {
	body{
		text-align: center;
	}
	#contModal{
		width: 80%;
    margin: 20px auto;
	}
	.bloqueUno, .skills, .bloqueDos, .footer{
		padding: 15% 0;
	}
	#botones{
	  padding: 10px 15px;
	}
	.linkProjects, .mb10{
		margin-bottom: 10%;
	}

}