/** Generated @ www.fontreactor.com **/
@font-face {
	font-family: 'PrestigeEliteStd-Bd';
    src: url('original_Prestige_Elite_Std_Bold.eot?#iefix') format('embedded-opentype'), 
         url('original_Prestige_Elite_Std_Bold.woff') format('woff'),
         url('original_Prestige_Elite_Std_Bold.ttf') format('truetype'),
         url('original_Prestige_Elite_Std_Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}